<ion-header>
  <ion-toolbar color="default">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <div class="item">
        <ion-label>
          <h3>Cliente</h3>
          <p class="item-p">{{ userInfo.firstName }} {{ userInfo.lastName }}</p>
        </ion-label>
      </div>
    </ion-item>

    <ion-item>
      <div class="item">
        <ion-label>
          <h3>Booking ID</h3>
          <p class="item-p">{{ userInfo.bookingId }}</p>
        </ion-label>
      </div>
    </ion-item>
    <ion-item>
      <div class="item">
        <ion-label>
          <h3>Precio</h3>
          <p class="item-p">{{ userInfo.bookingPrice | currency: 'CLP' }}</p>
        </ion-label>
      </div>
    </ion-item>
    <ion-item>
      <div class="item">
        <ion-label>
          <h3>Fecha de Creación</h3>
          <p class="item-p">{{ userInfo.bookingTime | date: 'short' }}</p>
        </ion-label>
      </div>
    </ion-item>
    <ion-item>
      <div class="item item-address">
        <h3>Dirección</h3>
        <p class="item-p">{{ userInfo.streetAddress }}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>