h3,
p { 
  margin-bottom: 0;
  font-weight: normal;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  h3 { 
    font-size: 1.1rem; 
  }

  p {
    font-size: 0.9rem;
    color: var(--ion-color-dark-tint, #666);
    display: block;
  }

  &-p {
    padding: 0.5rem 0;
  }

  &-address { 
    padding: 0.3rem 0;
  }
}