<ion-header>
  <ion-toolbar color="default">
    <ion-title class="title">
      Servicio de Reservas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchQuery" (input)="getItems($event)"></ion-searchbar>
    </ion-toolbar>
  <ion-list>
    <ion-item class="item" *ngFor="let b of items " detail lines="full" (click)="showInfo(b)">
      <div class="info">
        <h2>{{b.firstName}} {{b.lastName}}</h2>
        <h3>{{b.bookingId}}</h3>
        <p>{{b.bookingTime | date}}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
